.admission_content_wrapper {
    margin: 0 auto;
    width: 50%;
    margin-top: 100px;
    p{
        font-size: 13px;
        color: $greyText
    }
}
.open_bible_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p {
        color:$goldColor    
    }
}
.centra_para_section {
    margin: 0 auto;
    width: 65%;
    .cent_para{
        text-align: justify;
    }
    .card_para {
        font-size: 13px;
    }
    small {
        font-weight: 600;
    }
}
.admission_media {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 7px;
    height: 160px;
    padding: 20px 15px;
    
}

.adm_circle{
    width: 15px;
    height: 15px;
    background: $goldColor;
    border-radius: 50%;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        top: 14px;
        left: 7px;
        height: 71px;
        width: 3px;
        // background: $primaryGreen;
        border-right: 3px dashed $primaryGreen;
    }
    .adm_left_rod{
        position: absolute;
        top: 82px;
        right: 7px;
        height: 3px;
        width: 344px;
        // background: #08813E;
        border-top: 3px dashed $primaryGreen;
    }
}
.adm_circle_wrapper{
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 768px) {
    .centra_para_section, .admission_content_wrapper {
        width: 100%;
        padding: 25px;
    }
    .open_bible_wrapper {
        padding: 33px;
        text-align: center;
    }
.admission_media {
    height: auto;
    margin-top: 21px;
}
.mobile_alignment {
    text-align: center !important;
}
.admission_media_wrapper  {
    text-align: center;
    .icon_centralised_wrapper {
        margin: 0 auto;
    }
}
}