
.header_wrapper{
    height: 70px;
    width: 100%;
    background: transparent;
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 90%;
        .logo_wrapper {
            width: 10%;
        }
        .nav_items {
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            .nav_item {
                // width: 9.25%;
                color: $white;
                font-weight: 600;
                justify-content: center;
                align-items: center;
                display: flex;
                margin-right: 50px;
                &.last {
                   
                }
            }
        }
    }
}
.btn-white {

}