@import 'variables';
@import 'utils';
@import 'header';
@import 'home';
@import 'about';
@import 'scroll';
@import 'footer';
@import 'slider';


h1, h2, h3, h4, h5, h6 , p{
    font-family: 'Poppins', sans-serif !important;
}

.read_more_div {
    width: 100%;
    .small {
        cursor: pointer;
    }
}
.remove-padding-left{
    padding-left: 0 !important;
}
.remove-padding-right{
    padding-right: 0 !important;
}