* {
    box-sizing: border-box;
}

@import 'variables';
@import 'utils';
@import 'header';
@import 'subscribe';
@import 'home';
@import 'about';
@import 'blogPosts.scss';
@import 'post.scss';
@import 'pace.scss';
@import 'scroll';
@import 'footer';
@import 'slider';
@import 'contact';
@import 'admission';
@import 'kidzone_links';
@import 'gallery';


h1, h2, h3, h4, h5, h6 , p{
    font-family: 'Poppins', sans-serif !important;
}
a {
    text-decoration: none !important;
}
.read_more_div {
    width: 100%;
    .small {
        cursor: pointer;
    }
}
.remove-padding-left{
    padding-left: 0 !important;
}
.remove-padding-right{
    padding-right: 0 !important;
}
html {
    overflow-x: hidden;
}

.map_location {
    width: 100%;
}